/*No tocar este codigo*/ 
.sidebar-closed > #sidebar > ul {
    display: none;
}

.sidebar-closed #main-content {
    margin-left: 0px;
}

.sidebar-closed #sidebar {
    margin-left: -180px;
}

/*Escribe aqui tu codigo */

#container {
	width: 100%
}

.header {
	width: 100%;
	position: fixed;
	padding: 10px;
	background-color: rgb(52, 58, 74);
	top: 0;
	left: 0;
	z-index: 10
}

#sidebar {
	position: fixed;
	left: 0;
	top: 70px;
	height: 100%;
	width: 200px;
	background-color: rgb(52, 58, 74);
	z-index:10;
}

.sidebar-toogle-box {
	display: inline;
	z-index: 10;
	color: whitesmoke
}

.sidebar-toogle-box .tooltips {
	color: whitesmoke;
	font-size: 20px;
}

.logo {
	color: whitesmoke;
}

.logo:hover {
	color: white
}

.logout {
	margin-top: -30px;
	border-radius: 10%;
	background-color: #7B4489 ;
	color: white;
}

.sub-menu {
	list-style: none;
}

.sub-menu span,.sub-menu i,.sub-menu .fa {
	color: white
}

ul {
	margin-left: -20px;
}

h5, img {
	margin-left: -40px
}

.tittle-adv {
	font-size: 18px;
	padding-left: 10px;
}

/*main content*/

#main-content {
	padding: 70px 10px;
	background-color: rgb(239, 239, 239);
	width: 100%;
}

.showback, .form-panel, .content-panel {
	background-color: white;
	padding: 10px 5px;
	border-bottom: 2px solid rgb(205, 205, 205);
	margin-top: 15px;
}

.showback .fa {
	color: rgb(103, 103, 103);
	font-weight: 200;
}

.btn-theme, .btn-theme02, .btn-theme03, .btn-theme04 {
	color: rgb(103, 103, 103);
	font-weight: 200;
}

h3, h4, label {
	color: rgb(103, 103, 103);
	font-weight: 200;
}

label {
	text-align: left;
}

.wrapper {
	padding: 30px;
}